@import 'variables';

body {
	background-color: $background-1;
	margin: 0px;
	padding: 0px;
}

.barra-gradient {
	@extend %barras;
	display: flex;
	height: 25px;
	justify-content: space-between;
	overflow: hidden;

	p {
		@extend %p;
		overflow: hidden;
	}
}

img {
	cursor: pointer;
}

///////////div container//////////
.contenedor {
	flex-direction: column;
	padding: 40px;
}

///////////////cabecera////////
.cabecera {
	align-content: center;
	display: flex;
	justify-content: space-between;
}

.contenedor-botones {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

button {
	@extend %boton;
}

.btn-blancos {
	@extend %boton;
	background: $fondo-Day;
	margin: 5px;

	&:hover {
		background: #f7c9f3;
	}
}

.btn-rojo {
	display: flex;
	background: #ff6161;
	margin: 0px;
}

.btn-3 {
	margin-left: 0px;
	width: 25px;
}

#btn-4 {
	background: none;
	border: none;
	box-shadow: none;
	margin-left: 20px;
	text-align: left;
	width: 100px;

	&:active {
		border: none;
	}

	&:hover {
		border: $border;
	}
}

#elegir-tema {
	flex-direction: column;

	#btn-tema {
		display: flex;

		#btn-2 {
			margin-left: 20px;
			margin-right: 0px;
		}
	}

	#menu-temas {
		@extend %container;
		display: none;
		flex-direction: column;
		margin-left: 20px;
		padding: 0px;
		width: 165px;

		button {
			@extend %boton-menu-temas;
			align-self: center;

			&:active {
				background: #2e32fb;
				border: 1px solid rgba(51, 53, 143, 0.2);
				box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
				color: $fondo-Day;
			}
		}
	}
}

#buscador {
	@extend %container;
	display: flex;
	flex-direction: column;
	margin: 50px 0px 25px 0px;

	div {
		margin: 5px;
	}

	#div-input {
		display: flex;
		justify-content: space-between;
		margin: 5px;

		input {
			@extend %container;
			box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
			height: 40px;
			padding-left: 5px;
			width: 1200px;
		}

		button {
			@extend %boton-menu-temas;
			align-self: center;
			color: #b4b4b4;
			display: flex;
			height: 30px;
			margin: 5px;
			width: 100px;

			img {
				align-self: center;
				border: none;
				box-shadow: none;
				height: 16px;
				width: 16px;
			}
		}

		.boton-habilitado {
			@extend %boton;
			height: 30px;
			margin: 5px;
			width: 100px;
		}
	}
}

.buscados {
	display: flex;
	height: 30px;
	justify-content: flex-start;
	margin: 10px;
	overflow: hidden;

	button {
		@extend %botones-celestes;
		height: 24px;
		margin: 5px;
		overflow: hidden;

		&::before {
			content: '#';
		}
	}

	p {
		@extend %p;
		color: $fondo-dark;
	}
}

////////////////////////////////////////////
.menu-opciones {
	@extend %container;
	display: none;
	flex-direction: column;

	div {
		@extend %boton-menu-temas;
		@extend %p;
		align-items: center;
		background: #dbdbdb;
		border: $border-1;
		box-shadow: $box-shadow-2;
		color: $fondo-dark;
		height: 30px;
		margin: 5px;
		justify-content: flex-start;
	}
}

.input {
	@extend %container-input;
	margin: 25px 0px 25px 0px;
	width: 1255px;
}

.contenedores {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px;
	columns: 4;
}

.sugerencia {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 324px;
	margin-top: 5px;
	width: 300px;

	&:hover {
		border: 1px dotted #110038;
		cursor: pointer;
	}

	.giphy-sugerido {
		height: 324px;
		width: 300px;
		position: absolute;
		z-index: -2;
	}

	button {
		@extend %botones-celestes;
		height: 28px;
		margin: 0px;
		width: 75px;
		z-index: 1;

		&:hover {
			border: 1px dotted #110038;
		}
	}
}

#contenedorDeBusqueda {
	display: flex;
	justify-content: space-between;

	img {
		max-height: 200px;
		margin: 5px;

		&:hover {
			cursor: pointer;
			border: 1px dotted #110038;
		}
	}
}

////////////////////////style mis guifos/////////////////////////////////////////////////////
#contenedor_mis_guifos {
	@extend %container;
	//display: none;
	padding: 5px;
}

.contenedor_guifos {
	@extend %container;
	display: flex;
	flex-direction: column;
	margin: 20px 290px 20px 290px;
	padding: 5px;

	video {
		align-self: center;
	}
}

#crear_guifo {
	p {
		@extend %p;
		color: $fondo-dark;
		margin-left: 45px;
	}

	ol {
		list-style: none;
		counter-reset: lista;

		li {
			@extend %p;
			color: $fondo-dark;

			&::before {
				counter-increment: lista;
				content: counter(lista) ')';
				font-weight: bold;
				margin: 5px;
			}
		}
	}
}

#contador {
	@extend %container-input;
	text-align: center;
	width: 100px;
}

#subiendo-guifo {
	@extend %container-input;
	display: flex;
	height: 250px;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	p {
		@extend %p;
		color: $fondo-dark;
		font-weight: bold;
	}
}

#exito {
	display: none;
	justify-content: space-around;

	button {
		align-self: flex-end;
		margin: 5px;
	}
}

#sub-exito {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 10px;

	p {
		@extend %p;
		color: $fondo-dark;
		font-weight: bold;
	}

	button {
		width: 200px;
		align-self: flex-end;
	}
}

#gif {
	display: flex;

	img {
		width: 100%;
	}
}

#contenedor-2,
#instrucciones,
#chequeo,
#capturando,
#vista-previa,
#subiendo,
#btn-captura {
	display: none;
}

#gif,
#video {
	width: 100%;
}

///////////////////////////class dark////////////////////////////////////////
.modo-dark {
	.contenedor {
		background-color: $fondo-dark;
	}

	.barra-gradient {
		background-image: $color-gradiente-dark;
	}

	.cabecera {
		button {
			@extend %boton;
			background: $background-2;
			border: $box-shadow;
			box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
			color: $fondo-Day;

			a {
				color: $fondo-Day;
			}

			&:hover {
				border: 1px dotted #ffffff;
			}
		}

		.btn-3 {
			margin-left: 0px;
			width: 25px;
		}
	}

	#gifOF_logo {
		align-self: center;
	}

	#elegir-tema {
		#menu {
			display: none;
			@extend %container-dark;
		}
	}

	#buscador {
		@extend %container-dark;

		#div-input {
			button {
				border: $box-shadow;
				box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
				color: #b4b4b4;

				img {
					margin: 0px;
				}
			}
		}

		#menu-buscador {
			@extend %container-dark;

			div {
				border: $border-1;
				box-shadow: $box-shadow-2;
				background: $background-3;
				display: none;
				justify-content: flex-start;

				p {
					color: $fondo-dark;
				}
			}
		}
	}
}
